.centerText{
    text-align: center;
}

.marginBottomLarge{
    margin-bottom: 8rem;
}
.marginTopLarge{
    margin-top: 8rem;
}
.marginTopExtraLarge{
    margin-top: 10rem;
}

.marginBottomMedium{
    margin-bottom: 4rem;
}

.marginBottomSmall{
    margin-bottom: 1.5rem;
}