@import '../../utilities/variables';
@import '../../utilities/animations';
@import '../../utilities/typography';
@import '../../utilities/utilities';
@import '../../utilities/layout';
@import '../../utilities/mixins';

.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    &SideFront{
        transition: all .5s ease;
        background-color: $color-white;
        height: 50rem;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;
    }
    &SideBack{
        transition: all .5s ease;
        height: 50rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: green;
        transform: rotateY(180deg);
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;
    }
    &Picture{
        background-size: cover;
        height: 23rem;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
    &Details{
    }
    &Heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
    }
    &BackgroundColorPrimary{
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
    }
    &BackgroundColorSecondary{
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    }
    &BackgroundColorTertiary{
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
    }
    &:hover &SideFront{
     transform: rotateY(-180deg);
    }
    &:hover &SideBack{
     transform: rotateY(0deg);
    }
}
