@import '../../utilities/variables';
@import '../../utilities/animations';
@import '../../utilities/typography';
@import '../../utilities/utilities';
@import '../../utilities/layout';
@import '../../utilities/mixins';

.sectionTours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -11rem;
}